
.main__container-logo {display: flex;align-items: center;width: 100%;height: 100%;justify-content: center;}

.main__container-logo img {
    width: 123vw;
    z-index: 10;
    position: absolute;
}




.typing {
    font-size: 24px;
    margin-left: 10px;
    white-space: nowrap;
    max-width: 77vw;
    text-wrap: wrap;
    overflow: hidden;
    color: #ffffff;
    z-index: 15;
    animation: blink-caret .75s step-end infinite;
    text-align: end;
    margin-top: 48vw;
    font-family: "Great Vibes", cursive;
}
